<div class="container mt-5">
  <!-- Category Dropdowns -->
  <div class="row dropdown mx-auto">
    <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      Category
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Category 1</a></li>
      <li><a class="dropdown-item" href="#">Category 2</a></li>
      <li><a class="dropdown-item" href="#">Category 3</a></li>
    </ul>
  </div>
  <!-- Total Amonunt Counter -->
  <div class="mt-3 text-center">
    <a>Total Amount: </a>
    <a>25000</a>
  </div>
  <!-- Record Table -->
  <table class="table table-striped mt-5">
    <tbody>
      <tr>
        <th class="align-middle" scope="row">Icon 1</th>
        <td>午餐<br>2022/08/26</td>
        <td class="align-middle">60</td>
        <td class="align-middle">修改</td>
        <td class="align-middle">刪除</td>
      </tr>
      <tr>
        <th class="align-middle" scope="row">Icon 2</th>
        <td>捷運<br>2022/08/26</td>
        <td>35</td>
        <td>修改</td>
        <td>刪除</td>
      </tr>
      <tr>
        <th class="align-middle" scope="row">Icon 3</th>
        <td>電影<br>2022/08/26</td>
        <td>300</td>
        <td>修改</td>
        <td>刪除</td>
      </tr>
    </tbody>
  </table>
  <!-- Add Expense Button -->
  <div class="row text-center">
    <a href="/expense/new" type="button" class="btn btn-primary mt-3" >Add Expense</a>
  </div>
</div>